.mdb-single-view hr {
    border-top: 1px solid #0F303D;
    margin: 25px 20px;
}

.mdb-single-view .container {
    position: relative;
}

.mdb-single-view .mdb-movie-poster {
    position: absolute;
    top: -65px;
    left: 45px;
}

.mdb-single-view__header-details {
    width: 100%;
    height: auto;
    min-height: 150px;
}

.mdb-single-view__header-info {
    margin-left: 200px;
    padding-top: 25px;
    padding-right: 15px;
}

.mdb-single-view__header-info h2 {
    line-height: 30px;
    margin-bottom: 15px;
}

.mdb-single-view .mdb-movie-overview {
    padding: 0 35px;
}

@media (max-width: 992px) {
    /* .mdb-single-view__header-details {
        margin-bottom: 70px;
    } */

    .mdb-single-view__header-info {
        margin-bottom: 40px;
    }

    .mdb-single-view__header-info {
        margin-left: 185px;
    }
}

@media (max-width: 576px) {
    .mdb-single-view .mdb-movie-overview {
        padding: 0 20px;
    }

    .mdb-single-view .container {
        padding: 0px;
    }

    .mdb-single-view .mdb-movie-poster {
        left: 20px;
    }
}

@media (max-width: 480px) {
    .mdb-single-view__header-info {
        margin-left: 180px;
        margin-bottom: 25px;
    }
}

@media (max-width: 375px) {
    .mdb-single-view__header-info h2 {
        font-size: 20px;
        line-height: 25px;
    }
}
