.mdb-movie-rating-percentage {
    height: 20px;
    line-height: 18px;
    font-size: 12px;
    width: 40px;
    border-radius: 8px;
    background-color: #01d277;
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.mdb-movie-rating-percentage.pink {
    background-color: #D1225B
}

.mdb-movie-rating-percentage.purple {
    background-color: #4902A3
}