/***
Style Guide Colours

#081b23 - dark blue
#01d277 - teal
#D1225B - pink
#4902A3 - purple
#e3f4fc - off white

***/

body {
  background: #081b23;
  color: #e3f4fc;
  font-family: 'Roboto', sans-serif;
}

.mdb-app {
  font-family: 'Montserrat', sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #E3F4FC;
  font-family: 'Montserrat', sans-serif;
}

h1.bold,
h2.bold,
h3.bold {
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 { 
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  display: block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

input {
  padding: 15px;
  border-radius: 30px;
  border-width: 0px;
  border: 2px solid rgba(255,255,255,0);
  transition: 0.5s all;
  height: 44px;
  font-size: 14px;
  font-weight: 500;
  color: #01d277;
  font-family: 'Roboto', sans-serif;
}

input:hover,
input:focus {
  border: 2px solid #01d277;
  outline: 0;
}

input::placeholder {
  color: #01d277;
}
.mdb-app__search-input-container,
input.mdb-app__search-input {
  width: 342px;
  position: relative;
  margin: 0 auto;
}

.mdb-app__search-input-icon {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
  transition: 0.3s all;
  opacity: 1;
}

.mdb-app__search-input-container:hover .mdb-app__search-input-icon {
  right: 5px;
  opacity: 0;
}

@media (max-width: 375px) {
  .mdb-app__search-input-container {
    width: 90%;
  }

  input.mdb-app__search-input {
    width: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 1199px) {
  .mdb-app__catalogue-container h3 {
    margin-left: 30px;
  }  
}

@media (max-width: 576px) {
  .col-xs-6 {
    width: 50%!important;
  }
}

@media (max-width: 410px) {
  .col-xs-6 {
    width: 100%!important;
  }
}

/** 
Search input font size is 14px - font weight 500
Popular movies font size 20px
Movie title is 14px
Movie date is 12px
Percentage font size is 12px
Border radius on rating is 8px
Width on percentage is 40px
**/
